.bg {
  height: 100vh;
  background: url(images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 80%;
  margin: auto;
}

.banner {
  width: 85%;
  max-width: 400px;
  position: absolute;
  border: 2px solid #fff;
  padding: 1rem;
  font-size: 3rem;
  font-weight: lighter;
  color: #fff;
  text-transform: capitalize;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
  text-align: center;
}

.container1 img {
  width: 100%;
  max-width: 750px;
  padding: 2rem 0;
  margin-right: 2rem;
}

.container1 h3 {
  color: #000;
  font-size: 1.75rem;
  padding: 0.5rem 0;
}

.container1 p {
  font-size: 1.15rem;
  color: #9e9e9e;
}

.container2 {
  color: white;
  width: 80%;
  margin: auto;
}

.container2 h2 {
  color: #000;
  text-align: center;
  font-size: 2rem;
}

.creations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.creations div {
  height: 8rem;
  background-size: cover;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  padding: 2rem 1rem 1rem 1rem;
}

.one {
  background: url(images/mobile/image-deep-earth.jpg);
}

.two {
  background-image: url(images/mobile/image-night-arcade.jpg);
}

.three {
  background-image: url(images/mobile/image-soccer-team.jpg);
}

.four {
  background-image: url(images/mobile/image-grid.jpg);
}

.five {
  background-image: url(images/mobile/image-from-above.jpg);
}

.six {
  background-image: url(images/mobile/image-pocket-borealis.jpg);
}

.seven {
  background-image: url(images/mobile/image-curiosity.jpg);
}

.eight {
  background-image: url(images/mobile/image-fisheye.jpg);
}

.see-also {
  width: 50%;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem;
  margin-top: 1rem;
  font-weight: bolder;
  background-color: black;
  color: #fff;
  border: transparent;
  cursor: pointer;
}

.footer {
  background-color: #000;
  color: #fff;
  margin-top: 4rem;
  text-align: center;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brand-foot {
  font-size: 2.5rem;
}

.nav-foot li {
  padding: 0.5rem;
  font-size: 1rem;
  text-transform: capitalize;
}

.social {
  margin: 1rem;
}

.social img {
  width: 2rem;
}

@media (min-width: 992px) {
  html {
    font-size: 125%;
  }
  .banner {
    max-width: 500px;
    left: unset;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .container1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text {
    max-width: 400px;
  }
  .creations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .creations div {
    width: 22%;
    height: 15rem;
    margin: 0.5rem;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 10%;
  }
  .brand-foot,
  .nav-foot,
  .social,
  .copyright {
    width: 50%;
    padding: 2rem;
  }
  .brand-foot {
    text-align: left;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .social {
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: right;
  }
  .nav-foot {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .nav-foot ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-foot li {
    list-style: none;
    font-size: 0.75rem;
  }
  .copyright {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    text-align: right;
  }
  .see-also {
    width: 50%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 1rem;
    margin-top: 1rem;
    font-weight: bolder;
    background-color: black;
    color: #fff;
    border: transparent;
    cursor: pointer;
  }
}

@media (min-width: 1300px) {
  .banner {
    max-width: 750px;
    font-size: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */